.card-wrapper {
    border-radius: 10px;
    align-items: center;
    position: static;
    display: flex;
    flex-direction: column;
}

.card {
    width: 86vw;
    border-radius: 7px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.15);
    padding: 50px 80px;
}
.generate-button {
  cursor: pointer;
  height: 50px;
  width: 300px;
  border-radius: 4px;
  background-color: #00CB79;
  color: #fff !important;
  font-size: 1.25rem;
  margin-top: 42px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.date-col {
  width: 100%;
  text-align: center;
}
#date-selector {
  height: 50px;
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
}